.landing-page-wrapper{
  width: 100vw;
  height: 100vh;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
  }


.nav-landing-page{
  width: 100%;
  font-size: 11px;
  font-weight: bold;
  padding-top: 50px;
  font-family: "open sans";
  display: none;
  height: 50px;
}
.nav-landing-page .nav-links{
  float: right;
}
.nav-landing-page .nav-links a{
  margin-left: 10px;
  cursor: pointer;
}

.landingpage .main-container{
  background-image: url("./img/content/landing-page-bg.jpg");
  background-position: center;
  background-size: cover;
  height: 90%;
  width: 100%;
  display: none;
  color: white;
  font-family: "Cormorant Garamond";
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;
}
.main-container .name{
  font-size: 34px;
  letter-spacing: 4px;
  margin-bottom: 45px
}

.main-container .name a{
  cursor: pointer;
}
.main-container .title p{
  font-size: 28px;
}

.main-container .title{
  margin-bottom: 70px;
}


/* //iphone 4 + 4s 320px - 480px */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  .landing-page-wrapper {
      width: 100vw;
      height: 100vh;
      padding-right: 40px;
      padding-left: 40px;
      padding-bottom: 80px;
      box-sizing: border-box;
  }
}


/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){ */

/* }  */
