@font-face{
  font-family: "Finches";
  src:url('FinchesRegular.woff'),
      url('FinchesRegular.woff2');
}

@font-face{
  font-family: "Hype";
  src: url('HYPE.woff'),
      url('HYPE.woff2');
}

body {
  margin: 0;
  position: relative;
  font-family: "open sans";
}
p{
  margin: 2px;
}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
body .portfolio {
  height: 100vh;
  width: 100%;
  display: none;
  position: relative;

}
body .nav-portfolio {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  display: none;
}

 .nav-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  z-index: 10;
}

 .nav-portfolio .nav-logo img{
  width: 10%;
}

 .nav-portfolio .nav-links a {
  margin-left: 10px;
  cursor: pointer;
}


.portfolio .portfolio-container{
  height: auto;
  width: 100%;
  font-family: "Cormorant Garamond";
  display: none;
  padding: 200px 125px 80px 125px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  font-size: 21px;
}
.info {
  margin-top: 80px;
  font-size: 22px;
  margin-bottom: 10px;
}
.info p span{
  font-style: italic;
  font-size: 15px;
  opacity: 0.9;
  letter-spacing: 1px;
}
.info p a {
  text-decoration: none;
  color: black;
}

.section{
  width: 100%;
  margin-bottom: 150px;
}
.container{
  width: 100%;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.container .row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  width: 100%;
  margin-bottom: 120px;
}
.photo{
  text-align: center;

}
.photo img{
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  -o-transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.photo img:hover{
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.full-photo{
  width: 100%;
}

/* .section1 .container .row-1{
  margin-bottom: 120px
} */
.section1 .container .row-1 img{
  max-width: 80%;
  height: auto;
}

.section2 .container .row .photo img{
  max-width: 90%;
  height: auto;
}

.section3 .container .row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section .container .row .info{
  margin-left: 100px;
}

.section3 .container .row:nth-child(2) .photo img{
  max-width: 90%;
  height: auto;
}

.section3 .container .row:nth-child(3) .photo img{
  max-width: 90%;
  height: auto;
}
.section3 .container .row:nth-child(4) .photo img{
  max-width: 80%;
  height: auto;
}

/* //iphone 4 + 4s 320px - 480px */
 @media only screen and (min-device-width: 320px) and (max-device-width: 1024px){

.nav-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.nav-portfolio .nav-logo{
  width: 15%;
}
.nav-portfolio .nav-logo img {
    width: 50%;
}

   .portfolio .portfolio-container {
       height: auto;
       width: 100%;
       font-family: "Cormorant Garamond";
       display: none;
       padding: 200px 20px 80px 20px;
       -webkit-box-sizing: border-box;
               box-sizing: border-box;
       -webkit-animation-duration: 1.3s;
               animation-duration: 1.3s;
 }

 .container .row{
   display: block;
 }


.section .container .row .info {
  margin-left: 0px;
  text-align: center;
  margin-top: 0;
}
.section1 .container .row-1 img {
  max-width: 90%;
}

.section1 .container .row-2 img{
  max-width: 90%;
}
.section3 .container .row img{
  max-width: 90%;
}

.section3 .container .row:nth-child(4) .photo img{
  max-width: 90%;
}
}
